<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
<!-- wp:query {"query":{"inherit":true},"className":"chesperry-feed","layout":{"type":"default"}} -->
<div class="wp-block-query chesperry-feed">
<!-- wp:post-template -->
<!-- wp:group {"tagName":"article","className":"chesperry-poster","layout":{"type":"default"}} -->
<article class="wp-block-group chesperry-poster">
<!-- wp:post-terms {"term":"category","className":"chesperry-band"} /-->
<!-- wp:post-title {"isLink":true,"level":2} /-->
<!-- wp:post-content {"layout":{"type":"default"}} /-->
<!-- wp:post-date {"isLink":true,"className":"chesperry-band"} /-->
</article>
<!-- /wp:group -->
<!-- /wp:post-template -->
<!-- wp:query-pagination {"className":"chesperry-pagination","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->
<!-- wp:query-pagination-numbers /-->
<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->
<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>No posts found.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->
</div>
<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
